body
{

	margin: 0;
	padding:0;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh; 
}
.screen
{
	 position: relative;
	 width: 295px;
	 height: 650px;
	 background-color:#121212;
	 border-radius: 40px;
}
.inside
{
	position: absolute;
	top:20px;
	bottom: 20px;
	right: 6px;
	left: 6px;
	background-color: #000;
	border-radius: 20px;
	overflow:hidden;
}
.inside:before
{
	content: '';
	position:absolute;
	top:0;
	left:-50%;
	width: 100%;
	height: 100%;
	background:rgba(255,255,255,.05);
	transform:skewX(-15deg);
	z-index: 1;
}
 .inside img
{
	transform: rotate(.2deg);
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition:0.5;
}
 .inside:hover img
 {
  opacity: 1;
 }